<div class="d-flex p-2 h-75 align-items-center flex-column justify-content-center">
    <h1 id="contact-title">Contact</h1>

    <div *ngIf="!resolved; else email" class="d-flex flex-column justify-content-center align-items-center">
        <h3 class="m-4">Pour des raisons de sécurité, merci de remplir <br>le captcha afin de voir mon adresse mail</h3>
        <form #form="ngForm">
            <re-captcha id="recaptcha" *ngIf="isDarkTheme" theme="dark" #recaptcha="ngModel" [ngModel]="token" required
                [class.is-invalid]="recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)"></re-captcha>
            <re-captcha id="recaptcha" *ngIf="!isDarkTheme" theme="light" #recaptcha="ngModel" [ngModel]="token"
                required [class.is-invalid]="recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)"></re-captcha>
        </form>
        <button mat-raised-button color="primary" class="m-4" onclick="send(form)">Voir l'adresse email</button>
    </div>
    <ng-template #email>
        <div class="d-flex flex-column justify-content-center align-items-center">
            <h3>Email : {{this.emailAdress}}</h3>
        </div>
    </ng-template>
</div>