#form-title {
  // add spacing on top
  margin-top: 4%;
  font-size: 2rem;
  // Make the title bold
  font-weight: bold;
}

.form-title {
  font-size: 1.5rem;
}

.form-date {
  font-size: 1rem;
  // Make the date italic
  font-style: italic;
}
