<div class="d-flex p-2 h-75 align-items-center flex-column justify-content-center home">
    <div class="d-none d-md-block">
        <h1 class="title">Bienvenue !</h1>
        <p class="subtitle">Sur ce site vous trouverez <span id="changing-text"></span></p>
    </div>
    <div class="d-md-none mobile-subtitle">
        <h1 class="title">Bienvenue</h1>
        <p>Sur ce site vous trouverez :</p>
        <ul>
            <li *ngFor="let sentence of sentences"  >{{sentence}}</li>
        </ul>
    </div>
</div>