.home {
    height: 90%;
}

.title {
    font-size: 6rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
}

.subtitle {
    font-size: 2rem;
    text-align: center;
}

.mobile-subtitle {
    font-size: 2rem;
    text-align: center;
}

.mobile-subtitle .title{
    font-size: 4rem;
    text-align: left;
}

.mobile-subtitle ul{
    font-size: 1.5rem;
    list-style-type: "* ";
    text-align: left;
}

#changing-text {    
    border-right: .15em solid; /* The typwriter cursor */
    animation: blink-caret .75s step-end infinite;
}
    
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: inherit; }
}

