<div class="d-flex justify-content-center m-3 m-md-2">
    <h1 id="project-title">Projets</h1>
</div>
<div class="d-flex p-1 justify-content-center ">
    <div class="col-12 col-lg-8">
        <div *ngFor="let project of projects">
            <mat-card class="m-5 m-md-4 rounded-2">
                <mat-card-header class="p-3 align-items-baseline mat-elevation-z1 rounded-2 mat-accent">
                    <mat-card-title class="exp-title">{{project.title}}</mat-card-title>
                    <span class="flex-fill"></span>
                    <div class="d-flex">
                        <a *ngIf="project.link != null" href="{{project.link}}" target="_blank"
                            matTooltip="Liens à une au site web ou à une démo">
                            <mat-icon class="mx-2">link</mat-icon>
                        </a>
                        <a *ngIf="project.github != null" href="{{project.github}}" target="_blank"
                            matTooltip="Lien au GitHub du projet">
                            <mat-icon class="mx-2">code</mat-icon>
                        </a>
                    </div>
                </mat-card-header>
                <mat-card-content class="p-3">
                    <div>
                        <p class="exp-description">{{project.description}}</p>
                        <ul *ngIf="project.list != null">
                            <li *ngFor="let item of project.list">{{item}}</li>
                        </ul>
                    </div>
                    <div *ngIf="project.skills != null">
                        <h4>Compétences mobilisés</h4>
                        <div class="p-lg-1 d-flex flex-wrap justify-content-around">
                            <app-icons *ngFor="let skill of project.skills" class="m-3 m-md-4 mat-elevation-z3 rounded-2 flex-basis-15 bg-light bg-opacity-25" [title]="skill.title"
                                [iconPath]="skill.iconPath"></app-icons>
                        </div>
                    </div>

                </mat-card-content>
                <mat-card-footer>
                    <div class="d-flex justify-content-between">

                    </div>
                </mat-card-footer>
            </mat-card>
        </div>
    </div>

</div>