<div class="d-flex justify-content-center m-3 m-md-2">
    <h1 id="exp-title">Experiences</h1>
</div>
<div class="d-flex p-1 justify-content-center ">
    <div class="col-12 col-md-10">
        <div *ngFor="let exp of experiences">
            <mat-card class="m-5 m-md-4 m-sm-2">
                <mat-card-header class="p-3 align-items-baseline">
                    <mat-card-title class="exp-title text-center">{{exp.title}}</mat-card-title>
                    <span class="flex-fill"></span>
                    <span class="exp-date d-none d-lg-block">{{exp.date}}</span>
                </mat-card-header>
                <mat-card-content>
                    <div class="row">
                        <div class="col-lg-2 col-12">
                            <app-icons [title]="exp.iconTitle" [iconPath]="exp.iconPath" [url]="exp.link"></app-icons>                            
                        </div>
                        <div class="col-lg-10 col-12">
                            <p class="exp-date d-lg-none text-end">{{exp.date}}</p>
                            <p class="exp-description">{{exp.description}}</p>
                            <ul *ngIf="exp.list != null">
                                <li *ngFor="let item of exp.list">{{item}}</li>
                            </ul>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

</div>