<div class="d-flex p-5 justify-content-center align-items-center h-90">
    <mat-tab-group class="p-5 mat-elevation-z10 skills">
    <mat-tab label="Langages" class="mat-elevation-z11">
        <div class="p-5">
            <mat-grid-list cols="3" rowHeight="100px">
                <mat-grid-tile>
                    <mat-card class="mat-elevation-z10">    
                        <mat-card-header>
                            <mat-card-title>HTML5</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-card class="mat-elevation-z10">
                        <mat-card-header>
                            <mat-card-title>CSS3</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-card class="mat-elevation-z10">
                        <mat-card-header>
                            <mat-card-title>JavaScript</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-card class="mat-elevation-z10">
                        <mat-card-header>
                            <mat-card-title>TypeScript</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-card class="mat-elevation-z10">
                        <mat-card-header>
                            <mat-card-title>PHP</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-card class="mat-elevation-z10">
                        <mat-card-header>
                            <mat-card-title>SQL</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </mat-tab>
    <mat-tab label="Frameworks">
    </mat-tab>
    <mat-tab label="Bibliothèques">
    </mat-tab>
    <mat-tab label="Autres">
    </mat-tab>
</mat-tab-group>
</div>
