// General styles for the navigation component
.sidenav-container {
  height: 100%;
}

.full-height {
  height: 100vh;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

// Active link
.active-link {
  background: rgba(0, 0, 0, 0.04);
}

// Styling the toolbar

.flex-spacer {
  flex: 1 1 auto;
}