<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav mat-elevation-z8" fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">

    <!-- Entête sidenav -->
    <div class="flex-column">
      <img src="../../../assets/images/profile_discord.png" alt="profile" class="img-fluid p-3 mx-auto rounded">
    </div>

    <!-- Nav links-->
    <mat-nav-list>
      <a *ngFor="let link of links" mat-list-item [routerLink]="link.route" routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true}">
        <mat-icon class="m-1 align-middle"> {{link.icon}} </mat-icon> <span
          class="m-1 align-middle">{{link.name}}</span>
      </a>
      <a mat-list-item href="../../../assets/Luc_Allaire_CV_fr.pdf" target="_blank">
        <mat-icon class="m-2 align-middle">domain</mat-icon><span class="m-2 align-middle">CV (PDF)</span></a>
    </mat-nav-list>

    <!-- Nav Footer -->
    <div class="flex-column">
      <div class="d-flex flex-row justify-content-center">
        <a href="https://github.com/wolf-361" target="_blank" class="p-2">
          <img src="../../../assets/images/github.png" alt="github" class="img-fluid">
        </a>
        <a href="https://www.linkedin.com/in/wolf361/" target="_blank" class="p-2">
          <img src="../../../assets/images/linkedin.png" alt="linkedin" class="img-fluid">
        </a>
      </div>
    </div>

  </mat-sidenav>
  <mat-sidenav-content>
    <!-- top bar -->
    <mat-toolbar color="primary" class="mat-elevation-z8">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="d-flex flex-row">
        <h4 class="p-2">$ Luc Allaire</h4>
        <h5 class="p-2"><em class="align-middle">Étudiant en informatique à l'UQTR</em></h5>
      </div>
      <!-- Spacer -->

      <!-- Dark theme switch -->
      <div class="d-flex justify-content-end align-middle">
        <mat-icon>brightness_5</mat-icon>
        <mat-slide-toggle [checked]="isDarkTheme | async" (change)="toggleDarkTheme($event.checked)"></mat-slide-toggle>
        <mat-icon>brightness_3</mat-icon>
      </div>
    </mat-toolbar>
    <!-- Content from variable page here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>